{{/* Renders a .md file as an HTML page. */}}
{{/* Used with: handle /announcements/*.md { rewrite * /templates/announcement.html } */}}
{{$file := (include .OriginalReq.URL.Path .)}}
{{$body := (markdown $file)}}

<!DOCTYPE html>
<html lang="en">
<head>
{{include "/templates/head.html" .}}
	<meta name="description" content="Announcement from the Crystalized Minecraft server.">
	<title>Announcement - Crystalized</title>
</head>
<body>
{{include "/templates/header.html" .}}

	<article>
		<h2>Announcement</h2>
		{{$body}}
	</article>

{{include "/templates/footer.html" .}}
</body>
</html>
