<header>
    <div class="logo">
        <img src="/assets/crystalized_logo_icon.png" alt="Crystalized Logo">
        <h1>Crystalized</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/announcements/">Announcements</a></li>
            <li><a href="/games/">Our games</a></li>
            <li><a href="/downloads/">Downloads</a></li>
            <li><a href="/contributor-resources/">Contributors</a></li>
        </ul>
    </nav>
</header>
<main>
