	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#27154b">
	<!-- Open Graph (og): controls how links look when shared on Discord/social media -->
	<meta property="og:title" content="Crystalized">
	<meta property="og:description" content="A community-driven Minecraft server with minigames, cross-platform play, and open source code.">
	<meta property="og:image" content="/assets/crystalized_logo_icon.webp">
	<meta property="og:type" content="website">
    <link rel="icon" type="image/webp" href="/assets/crystalized_logo_icon.webp">
    <link rel="preload" href="/assets/pressstart2p-latin.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="stylesheet" href="/website.css">
	<link rel="canonical" href="https://crystalized.cc{{.Req.URL.Path}}">
